<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#062e3f">
    <meta name="Description" content="A dynamic and aesthetic To-Do List WebApp.">

    <!-- Google Font: Quick Sand -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- font awesome (https://fontawesome.com) for basic icons; source: https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

    <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
    <link rel="stylesheet" href="login.css">
<title>registrieren</title>
<style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    #loginForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .todo-input {
      margin: 15px;
    }

    .todo-btn {
      margin: 10px;
    }
  </style>
</head>
<body>
    <h1>registrieren</h1>

    <!-- register.html -->
    <form id="loginForm">
        <label for="name">Name</label>
        <input class="todo-input" type="text" id="name" name="name" placeholder="" required>

        <label for="username">Nutzername</label>
        <input class="todo-input" type="text" id="username" name="username" placeholder="" required>

        <label for="password">Passwort</label>
        <input class="todo-input" type="password" id="password" name="password" placeholder="" required>

        <button class="todo-btn" type="button" onclick="register()">registrieren</button>
    </form>

    <p>if you already have an account, <a href="/">können Sie sich anmelden</a></p>

<script src="JS/register.js"></script>
</body>
</html>
